.Contact-Container {
    text-align: center;
}

.Contact-Icon {
    display: inline-block;
    margin: 10px;
    font-size: 80px;
    line-height: 1em;
    height: 1em;
    transition: color 200ms;
}

.Contact-Icon:hover {
    color: #f4a460;
}

.Contact-Icon:active {
    color: #515151;
}
