.App-Main {
    padding: 8px 16px;
}

.Main-Container {
    margin: auto;
    max-width: 1200px;
}

.dark {
    background-color: #333333;
    color: #eee;
}

.light {
    background-color: #eee;
    color: #333333;
}
