.theme-button {
    grid-row-start: 1;
    grid-column: 2;
    padding-left: 2em;
    display: flex;
    align-items: center;
}

.theme-button button {
    color: white;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 0;
}

.theme-button > button:active {
    color: #f4a460;
}

@media only screen and (min-width: 780px) {
    .theme-button > button {
        font-size: 2em;
        transition: color 200ms;
    }

    .theme-button > button:hover {
        color: #f4a460;
    }

    .theme-button > button:active {
        color: #515151;
    }
}
