.App-NavLinks {
    grid-row-start: 2;
    grid-column: 1 / span 2;
}

.App-NavLinks ul {
    list-style: none;
    display: none;
    text-align: center;
}

.visible {
    display: block !important;
}

@media only screen and (min-width: 780px) {
    .App-NavLinks {
        grid-column: 2 / span 1;
        grid-row-start: 1;
        align-self: center;
        justify-self: end;
    }

    .App-NavLinks ul {
        display: block;
    }
}
